---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page Not Found">
	<main class="text-center py-20">
		<h1>
			Oops! Page Not Found.
		</h1>
		<p>
			The page you're looking for might have been removed, had its name
			changed, or is temporarily unavailable.
		</p>

		<p><a href="/power-in-numbers-splash/">Go back home</a></p>
	</main>
</Layout>
