---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<div class="animate__animated animate__fadeIn">
		<header>
			<h1>
				<img
					class="w-100 rounded-lg my-5"
					src="assets/banner.png"
					alt="Power in Numbers"
				/>
			</h1>
		</header>
		<main class="py-10 px-10">
			<h2>
				We supercharge change efforts in the South and Southwest and
				level up campaigns that reach millions to win for workers
				everywhere.
			</h2>

			<p>
				At Power in Numbers, we know workers and their communities don't
				get power through backroom deals, big campaign contributions, or
				being related to someone in office. <strong>We get power when we get
				together.</strong>
			</p>

			<p>
				The solutions to today's problems already exist. The number of
				people who want a better way already exists. What doesn't exist
				yet is a big enough movement to challenge the status quo and
				build a country and economy that centers workers instead of
				corporations and billionaires.
			</p>

			<p><strong>That's why we built Power in Numbers.</strong></p>

			<h2>
				We combine tried and true organizing with top-of-the-line data
				and digital tools to reach millions of people, invite them into
				movement, and level up campaigns that win for workers, their
				families, and their communities.
			</h2>

			<p>
				We utilize online and offline base building* and organizing
				strategies*, comprehensive campaigns*, strategic litigation*,
				communications*, and policy advocacy to create diverse
				solutions, win concrete, transformative demands that improve
				working people's lives, and promote civic engagement at the
				local, state, and national levels with a focus on the South and
				Southwest.
			</p>

			<p>
				We find people who our movements aren't yet talking to and move
				them into action through campaigns and membership in unions and
				grassroots organizations and the broader labor movement.
			</p>

			<p>
				By making digital and tech tools for mass scale outreach
				accessible beyond electoral campaigns and large national
				organizations, we inject capacity during critical moments to
				advance campaigns that are fighting for workers rights, racial,
				and economic justice.
			</p>
		</main>
	</div>
</Layout>
