<nav class="inline-block">
    <a href="/"><img src="/assets/logo.svg" alt="Power in Numbers" /></a>
</nav>

<style>
    a:hover {
        img {
            transition: 0.1s;
            opacity: 0.8;
        }
    }
</style>