<nav class="inline-block w-80">
    <a href="/"><img src="/assets/logo.png" alt="Organized Power in Numbers" /></a>
</nav>

<style>
    a:hover {
        img {
            transition: 0.1s;
            opacity: 0.8;
        }
    }
</style>